<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797170817109-moq8psghkevqduhcqnsj8pa578qaurgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797170817109-moq8psghkevqduhcqnsj8pa578qaurgr</string>
	<key>API_KEY</key>
	<string>AIzaSyCTSJ-1hFqgapGhcwpFO7uwWTMPDH_mhI0</string>
	<key>GCM_SENDER_ID</key>
	<string>797170817109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ordersManagmentApp</string>
	<key>PROJECT_ID</key>
	<string>order-managment-dev-d4001</string>
	<key>STORAGE_BUCKET</key>
	<string>order-managment-dev-d4001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797170817109:ios:f2782809ef9fc5a10f1cdc</string>
</dict>
</plist>